.heading{
    text-align: center;
}

.input{
    margin-left: 4rem;
    margin-top: 2rem;
}
label{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#submit{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.table-div{
    margin-left: 4rem;
    text-align: center;
}
th{
    padding-left: 4rem;
    margin-left: 4rem;
}